main {
    background: #f2f5f6;
    min-height: 100vh;
    
    .container-inner {
        background: white;
        max-width: 1280px;
        // max-width: 768px;
        margin: 0 auto;
        width: 100%;
        min-height: 100vh;
        padding: 10px 0;

        > section {
            &.update {
                width: 100%;
                margin-bottom: 14px;
                
                > p {
                    color: rgb(180, 193, 197);
                    font-size: 14px;
                    text-align: center;
                    padding: 12px 0;
                    font-weight: 600;
                    background: #f3f5f6;
                    margin: 0 10px;
                    border-radius: 8px;
                }
            }
            
            &.contents {
                display: flex;
                justify-content: space-between;
                margin: 0 12px;
                gap: 24px;

                section {
                    &.actions {
                        position: sticky;
                        top: 12px;
                        height: fit-content;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        > div {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            // padding: 12px;
                            // border-radius: 8px;
                            // border: 1px solid #f3f5f6;

                            input {
                                text-align: left;
                                width: 100%;
                                flex: 1;
                                padding: 12px;
                                border-radius: 8px;
                                border: none;
                                border: 1px solid rgb(128 128 128 / 41%);
                                font-size: 14px;
                                transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
                                box-shadow: 0 0 0px 0px #eceff0;

                                &:hover {
                                    border-color: #4f7aff;
                                    box-shadow: 0 0 0px 4px #eceff0;
                                }
                            }

                            .divide {
                                position: relative;
                                display: flex;

                                input {
                                    padding-right: 70px;
                                }

                                select {
                                    position: absolute;
                                    top: 50%;
                                    right: 5px;
                                    transform: translate(0, -50%);
                                    font-size: 12px;
                                    width: 60px;
                                    text-wrap: wrap;
                                    text-align: center;
                                    border: 1px solid rgba(128, 128, 128, 0.41);
                                    border-radius: 4px;
                                    background: none;
                                    height: calc(100% - 10px);
                                    color: #61737b;
                                    cursor: pointer;
                                    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) border-color;

                                    &:hover {
                                        border-color: #4f7aff;
                                    }
                                }
                            }

                            &.example {
                                > p {
                                    font-size: 14px;
                                    background: #f3f5f6;
                                    padding: 12px;
                                    border-radius: 8px;
                                    color: #61737b;
                                }
                            }

                            &:nth-of-type(2) {
                                border-top: 1px dotted #99a8ad;
                                padding-top: 16px;
                            }
                        }

                        > button {
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;
                            color: white;
                            width: 100%;
                            padding: 12px;
                            border-radius: 8px;
                            filter: brightness(1);
                            transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) filter;

                            &:nth-of-type(1) {
                                background: #4f7aff;
                            }

                            &:nth-of-type(2) {
                                background: #62646b;
                            }

                            &:hover {
                                filter: brightness(0.8);
                            }
                        }
                    }

                    &.list {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        // padding: 0 12px 140px 12px;

                        .item {
                            grid-template-columns: repeat(8, 1fr);
                            grid-column-gap: 8px;
                            align-items: center;
                            justify-content: center;
                            display: grid;
                            border-radius: 8px;

                            &:first-child {
                                position: sticky;
                                top: 0;
                                background: white !important;
                                border-radius: 0;
                                padding: 12px 0;
                                background: none;
                                
                                .target {
                                    color: #9394a8;
                                    font-weight: 600;
                                }
                            }

                            &:nth-child(even) {
                                background: #f2f5f6;
                            }

                            .target {
                                width: 100%;
                                cursor: default;
                                flex: 1;
                                text-align: center;
                                // width: calc(100% / 7);
                                color: #61737b;
                                font-size: 14px;
                                font-weight: 500;
                            }

                            img {
                                object-fit: cover;
                                padding: 6px;
                                aspect-ratio: 1/1;
                                border-radius: 12px;
                            }

                            a {
                                cursor: pointer !important;
                                text-decoration: underline;
                            }

                            &.no-item {
                                cursor: default;
                                color: gray;
                                opacity: 0.5;
                                background: none;
                                border: 1px solid gray;
                            }
                        }
                    }
                }
            }
        }
    }
}