main {
    background: #f2f5f6;
    min-height: 100vh;
    
    .container-inner {
        background: white;
        max-width: 768px;
        margin: 0 auto;
        width: 100%;
        min-height: 100vh;

        > section {
            &.time {
                width: 100%;
                
                > p {
                    width: 100%;
                    color: #9394a8b5;
                    font-size: 14px;
                    text-align: center;
                    padding: 10px 0;
                    font-weight: 600;
                }
            }
            
            &.actions {
                position: sticky;
                top: 10px;
                background: #ffffffa8;
                padding: 20px;
                backdrop-filter: blur(20px);
                margin: 0 10px 32px 10px;
                border-radius: 8px;
                border: 1px solid #f3f5f6;

                > div {
                    display: flex;
                    gap: 8px;
                    margin-bottom: 8px;

                    > input {
                        text-align: center;
                        width: 100%;
                        flex: 1;
                        padding: 10px;
                        border-radius: 8px;
                        border: none;
                        border: 1px solid rgb(128 128 128 / 41%);
                        font-size: 14px;
                    }
                }

                > button {
                    cursor: pointer;
                    background: black;
                    color: white;
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                }
            }

            &.list {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 0 10px 140px 10px;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    border-radius: 8px;

                    &:first-child {
                        background: none;
                        
                        .target {
                            flex: 1;
                            padding: 5px 0;
                            text-align: center;
                            font-size: 14px;
                            color: #9394a8;
                            font-weight: 600;
                        }
                    }

                    &:nth-child(even) {
                        background: #f2f5f6;
                    }

                    .target {
                        flex: 1;
                        padding: 10px;
                        text-align: center;
                        width: calc(100% / 7);
                    }

                    img {
                        object-fit: cover;
                        padding: 0 !important;
                        aspect-ratio: 1/1;
                        border-radius: 8px;
                    }

                    a {
                        text-decoration: underline;
                    }

                    &.no-item {
                        cursor: default;
                        color: gray;
                        opacity: 0.5;
                        background: none;
                        border: 1px solid gray;
                    }
                }
            }
        }
    }
}